<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">I'm a drawer</mat-drawer>
  <mat-drawer-content id="app-content">
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
