<mat-form-field class="example-full-width">
        <input type="text" matInput [(ngModel)]="search" placeholder="Pesquisar" (keyup)="filterList(search)">
        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
</mat-form-field>
<mat-selection-list [multiple]="false" *ngIf="page.pageRecipes">
        <mat-list-option *ngFor="let recipe of page.pageRecipes" (click)="selectRecipe(recipe)">
                {{recipe.nome}}
        </mat-list-option>
</mat-selection-list>
<mat-paginator [length]="allRecipes.length" [pageSize]="20" (page)="paginationEvent($event)">
</mat-paginator>